@font-face {
  font-family: "iconfont"; /* Project id 4300922 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1709691462547') format('woff2'),
       url('iconfont.woff?t=1709691462547') format('woff'),
       url('iconfont.ttf?t=1709691462547') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijianzhou:before {
  content: "\e8c8";
}

.icon-shijianzhou-copy:before {
  content: "\eac9";
}

.icon-Close-copy:before {
  content: "\eaca";
}

.icon-Close:before {
  content: "\e603";
}

.icon-daohanglan-copy:before {
  content: "\eacb";
}

.icon-daohanglan:before {
  content: "\e60b";
}

.icon-history:before {
  content: "\e602";
}

.icon-inbox:before {
  content: "\e744";
}

.icon-calendar-v2:before {
  content: "\e9aa";
}

.icon-gonggao:before {
  content: "\e60a";
}

.icon-fenlei:before {
  content: "\e600";
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-biaoqian:before {
  content: "\e62b";
}

.icon-aixin:before {
  content: "\e65c";
}

.icon-wenjian:before {
  content: "\eac5";
}

.icon-yinle:before {
  content: "\e62d";
}

.icon-shouye:before {
  content: "\e632";
}

.icon-vcr-full:before {
  content: "\e969";
}

.icon-shouye-copy:before {
  content: "\eac7";
}

.icon-yinle-copy:before {
  content: "\eac8";
}

.icon-vcr-full-copy:before {
  content: "\eacc";
}

.icon-fenlei-copy:before {
  content: "\eace";
}

.icon-wenjian-copy:before {
  content: "\eacf";
}

.icon-aixin-copy:before {
  content: "\ead0";
}

.icon-biaoqian-copy:before {
  content: "\ead1";
}

.icon-lianjie-copy:before {
  content: "\ead2";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-github-fill-white:before {
  content: "\eac6";
}

